.login{
    display: block;
    justify-content: center;
    align-items: center;
    border-left: solid;
    border-right: solid;
    padding: 25px;
    border-radius: 25px;
    width: 500px;
    height: 500px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    outline: 0;
    border: none;
    background-color: black;
    cursor: pointer;
}
