.profile-edit{
    margin-top: 3.5rem;
    background-color: whitesmoke;
    height: 50vh;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    .inputs{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input{
            background-color: transparent;
            outline: 0;
            border: solid black;
            padding: 5px; 
            border-radius: 5px;
            width: 30%;
            color: rgba(0, 0, 0, 0.9);
            font-size: 14px;
            font-family: system-ui;
        }
    }
    
    .edit-div{
        position: absolute;
        right: 20px;
        font-family: system-ui;
        background-color: white;
        .edit-btn{
            outline: 0;
            border: none;
            padding: 5px;  
            cursor: pointer;  
            border-radius: 5px;
        }
    }
    .username{
        font-family: system-ui;
        font-weight: 600;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.9);
    }
    .useremail{
        margin-top: -20px; 
        font-family: system-ui;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.9);
        color: rgba(0, 0, 0, 0.9);
    }
}