.profile-card{
    margin-top: 3.5rem;
    background-color: whitesmoke;
    height: 50vh;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    .edit-div{
        position: absolute;
        right: 20px;
        font-family: system-ui;
        background-color: white;
        .edit-btn{
            outline: 0;
            border: none;
            padding: 5px;
        }
    }
    .username{
        font-family: system-ui;
        font-weight: 600;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.9);
    }
    .useremail{
        margin-top: -20px; 
        font-family: system-ui;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.9);
        color: rgba(0, 0, 0, 0.9);
    }
}