.body{
    margin: 0;
    padding: 0;
}
.login{
    display: block;
    justify-content: center;
    align-items: center;
    border-left: solid;
    border-right: solid;
    padding: 25px;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.header2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}
.sub-heading{
    margin-top: -20px;
}
.login-btn{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    margin: auto;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    outline: 0;
    border: none;
    background-color: black;
    cursor: pointer;
}
.login-btn:hover{
    background-color: rgb(44, 43, 43);
}
form{
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}
.login input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px 10px;
    border: none;
    margin: auto;
    background-color: white;
    color: black;
    outline: 0;
    width: 250px;
    margin-bottom: 25px;
    font-size: 15px;
}
::placeholder{
    font-size: 15px;
}
.LinkedinLogo{
    position: absolute;
    top: 20px;
    left: 20px ;
}
.headrule{ 
    border: 0;
    height: 1px;
    background: black;
    margin: 5px;
}
.or{
    display: block;
    width: 40px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    margin-top: -16px;
}
.Googlebtn{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    border-radius: 25px !important;
    outline: 0;
    border: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    background-color: black !important;
    color: white !important;
    width: 250px !important;
}
.Googlebtn div{
    border-radius: 25px !important;
}
.hr-text {
    border: 0;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 14px;
    margin: 30px 15px;
}
.hr-text::before {
      content: "";
      background: linear-gradient(to right, transparent, black, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
}
.hr-text::after {
      content: attr(data-content);
      position: relative;
      padding: 0 7px;
      line-height: 1.5em;
      color: black;
      background-color: #e0e0e0;
}
.Already{
    font-size: 18px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.join-now{
    color: blue;
    text-decoration: none !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a:link, a:visited{
    text-decoration: underline blue;
    color: blue;
    cursor: pointer;
}
