.topbar{
    display: flex;
    align-items: center;
    position: fixed;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3.125rem;
    background-color: whitesmoke;
}
img{
    height: 35px;
    cursor: pointer;
    padding: 3px;
}
img:hover{
    background-color: rgb(216, 216, 216);
    border-radius: 25px;
}
.search-bar{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 25px;
    height: 16px;
    padding: 10px;
    input{
        background-color: transparent;
        color: black;
        outline: none;
        border: 0;
        padding: 10px;
        font-size: 18px;
    }
    span{
        height: 1.5rem;
        border-left: solid;
    }
   
} 
.mid-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 200px;
}
.popup-position{
    position: absolute;
    right: 50px;
    top: 52px;
    z-index: 99;
}
