.PostCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 100px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    padding: 10px;
    .timeStamp{
        color: rgba(0, 0, 0, 0.6);
        font-family: system-ui, sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
    .status{
        text-align: left;
        font-family: system-ui, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.9);
    }   
}